@{
	ViewData["Title"] = "RECRUITMENT PORTAL";
	ViewData["Title2"] = "BFP MIMAROPA";
	ViewData["Module"] = "Recruitment Portal";
	KTTheme.AddVendors(new string[] { "amcharts", "amcharts-maps", "amcharts-stock" });

	KTTheme.AddJavascriptFile("js/custom/Apply/Ledger.js");
}

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">

	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::Stepper-->
		<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">

			<!--begin::Aside-->
			<div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">

				<!--begin::Nav-->
				<div class="stepper-nav ps-lg-10">

					<!--begin::Step 1-->
					<div class="stepper-item current" data-kt-stepper-element="nav">

						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">1</span>
							</div>
							<!--end::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Details</h3>
								<div class="stepper-desc">Describe yourself</div>
							</div>
							<!--end::Label-->
						</div>
						<!--end::Wrapper-->
						<!--begin::Line-->
						<div class="stepper-line h-40px"></div>
						<!--end::Line-->
					</div>
					<!--end::Step 1-->
					<!--begin::Step 2-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">2</span>
							</div>
							<!--begin::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Address</h3>
								<div class="stepper-desc">Define your address</div>
							</div>
							<!--begin::Label-->
						</div>
						<!--end::Wrapper-->
						<!--begin::Line-->
						<div class="stepper-line h-40px"></div>
						<!--end::Line-->
					</div>
					<!--end::Step 2-->
					<!--begin::Step 3-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">3</span>
							</div>
							<!--end::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Upload</h3>
								<div class="stepper-desc">Upload necessary document</div>
							</div>
							<!--end::Label-->
						</div>
						<!--end::Wrapper-->
						<!--begin::Line-->
						<div class="stepper-line h-40px"></div>
						<!--end::Line-->
					</div>
					<!--end::Step 3-->
					<!--begin::Step 4-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">4</span>
							</div>
							<!--end::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Upload</h3>
								<div class="stepper-desc">Upload Clearances</div>
							</div>
							<!--end::Label-->
						</div>
						<!--end::Wrapper-->
						<!--begin::Line-->
						<div class="stepper-line h-40px"></div>
						<!--end::Line-->
					</div>
					<!--end::Step 4-->
					<!--begin::Step 5-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">5</span>
							</div>
							<!--end::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Upload</h3>
								<div class="stepper-desc">Upload Medical Clearances</div>
							</div>
							<!--end::Label-->
						</div>
						<!--end::Wrapper-->
						<!--begin::Line-->
						<div class="stepper-line h-40px"></div>
						<!--end::Line-->
					</div>
					<!--end::Step 5-->
					<!--begin::Step 6-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">6</span>
							</div>
							<!--end::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Upload</h3>
								<div class="stepper-desc">Upload Government Document</div>
							</div>
							<!--end::Label-->
						</div>
						<!--end::Wrapper-->
						<!--begin::Line-->
						<div class="stepper-line h-40px"></div>
						<!--end::Line-->
					</div>
					<!--end::Step 6-->
					<!--begin::Step 7-->
					<div class="stepper-item mark-completed" data-kt-stepper-element="nav">
						<!--begin::Wrapper-->
						<div class="stepper-wrapper">
							<!--begin::Icon-->
							<div class="stepper-icon w-40px h-40px">
								<i class="ki-duotone ki-check stepper-check fs-2"></i>
								<span class="stepper-number">7</span>
							</div>
							<!--end::Icon-->
							<!--begin::Label-->
							<div class="stepper-label">
								<h3 class="stepper-title">Completed</h3>
								<div class="stepper-desc">Review and Submit</div>
							</div>
							<!--end::Label-->
						</div>
						<!--end::Wrapper-->
					</div>
					<!--end::Step 7-->
				</div>
				<!--end::Nav-->
			</div>
			<!--begin::Aside-->
			<!--begin::Content-->
			<div class="flex-row-fluid py-lg-5 px-lg-15">
				<!--begin::Form-->
				<form class="form" novalidate="novalidate" id="kt_modal_create_app_form">
					<!--begin::Step 1-->
					<div class="current" data-kt-stepper-element="content">
						<div class="w-100">

							<!--begin::Image Profile-->
							<div class="mb-7">
								<!--begin::Label-->
								<label class="fs-6 fw-semibold mb-3">
									<span>Upload Passport Size Photo Picture With Signature</span>
									<span class="ms-1" data-bs-toggle="tooltip" title="Allowed file types: png, jpg, jpeg.">
										<i class="ki-duotone ki-information fs-7">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</span>
								</label>
								<!--end::Label-->
								<!--begin::Image input wrapper-->
								<div class="mt-1">

									<!--begin::Image placeholder-->
									<style>
										.image-input-placeholder {
											background-image: url('assets/media/svg/files/blank-image.svg');
										}

										[data-bs-theme="dark"] .image-input-placeholder {
											background-image: url('assets/media/svg/files/blank-image-dark.svg');
										}
									</style>
									<!--end::Image placeholder-->
									<!--begin::Image input-->
									<div class="image-input image-input-outline image-input-placeholder image-input-empty image-input-empty" data-kt-image-input="true">

										<!--begin::Preview existing avatar-->
										<div class="image-input-wrapper w-100px h-100px" style="background-image: url('')"></div>
										<!--end::Preview existing avatar-->
										<!--begin::Edit-->
										<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
											<i class="ki-duotone ki-pencil fs-7">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
											<!--begin::Inputs-->
											<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
											<input type="hidden" name="avatar_remove" />
											<!--end::Inputs-->
										</label>
										<!--end::Edit-->
										<!--begin::Cancel-->
										<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
											<i class="ki-duotone ki-cross fs-2">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</span>
										<!--end::Cancel-->
										<!--begin::Remove-->
										<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
											<i class="ki-duotone ki-cross fs-2">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</span>
										<!--end::Remove-->

									</div>
									<!--end::Image input-->
								</div>
								<!--end::Image input wrapper-->
							</div>
							<!--end::Image Profile-->							
							<!--begin::Row-->
							<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2">
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Last Name</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your lastname.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" placeholder="Last Name" class="form-control bg-transparent border border-primary border-hover border-active active" name="lastname" id="kt_lastname" autocomplete="off" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">First Name</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your firstname.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" placeholder="First Name" class="form-control bg-transparent border border-primary border-hover border-active active" name="firstname" id="kt_firstname" autocomplete="off" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group wrapper-->
							<!--begin::Row-->
							<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2">
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Middle Name</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your middle name.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" placeholder="Middle Name" class="form-control bg-transparent border border-primary border-hover border-active active" name="middlename" id="kt_middlename" autocomplete="off" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Suffix</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your suffix [Ex. JR, SR, II].">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" placeholder="Suffix" class="form-control bg-transparent border border-primary border-hover border-active active" name="suffix" id="kt_suffix" autocomplete="off" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group wrapper-->
							<!--begin::Row-->
							<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2">
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Email Address</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your active email address.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" placeholder="example@gmail.com" class="form-control bg-transparent border border-primary border-hover border-active active" name="emailaddress" id="kt_emailaddress" autocomplete="off" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Contact Number</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your active contact number.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="tel" placeholder="Contact Number" class="form-control bg-transparent border border-primary border-hover border-active active" name="contactnumber" id="kt_contactnumber" autocomplete="off" value="" pattern="[0-9]*" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group wrapper-->
							<!--begin::Row-->
							<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2">
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Age</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Enter the your age.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" placeholder="Age" class="form-control bg-transparent border border-primary border-hover border-active active" name="age" id="kt_age" autocomplete="off" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col">
									<!--begin::Input group-->
									<div class="fv-row mb-3">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Gender</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Select your Gender.">
												<i class="ki-duotone ki-information fs-7">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</span>
										</label>
										<!--end::Label-->
										<!--end::Label-->
										<div class="w-100">
											<!--begin::Select2-->
											<select id="kt_gender" name="gender" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Gender" data-allow-clear="true" data-kt-apply-table-filter="select_age" data-hide-search="true">
												<option></option>
												<option value="1">Male</option>
												<option value="2">Female</option>
											</select>
											<!--end::Select2-->
										</div>
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group wrapper-->
							<!--begin::Input group-->
							<div class="fv-row mb-3">
								<!--begin::Label-->
								<label class="fs-6 fw-semibold form-label mt-3">
									<span class="required">Course</span>
									<span class="ms-1" data-bs-toggle="tooltip" title="Select your Course.">
										<i class="ki-duotone ki-information fs-7">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</span>
								</label>
								<!--end::Label-->
								<!--end::Label-->
								<div class="w-100">
									<!--begin::Select2-->
									<select id="kt_course" name="course" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-dropdown-parent="#kt_modal_create_app_form" data-kt-select2="true" data-placeholder="Select Course" data-allow-clear="true" data-kt-apply-table-filter="select_age" data-hide-search="false">
										<option></option>
										</select>
									<!--end::Select2-->
								</div>
							</div>
							<!--end::Input group-->
						</div>
					</div>
					<!--end::Step 1-->
					<!--begin::Step 2-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<!-- Present Address -->
							<h2 class="fs-5 fw-bold mb-3">Present Address</h2>
							<!--begin::Input group for Present Address-->
							<div class="fv-row mb-3">
								<label class="fs-6 fw-semibold form-label mt-3">
									<span class="required">Street Address</span>
									<span class="ms-1" data-bs-toggle="tooltip" title="Enter your present address [House/Block/Lot No./Street Address].">
										<i class="ki-duotone ki-information fs-7"></i>
									</span>
								</label>
								<input type="text" placeholder="Street Address" class="form-control bg-transparent border border-primary border-hover border-active active" name="present_streetaddress" id="present_streetaddress" autocomplete="off" value="" />
							</div>

							<div class="row">
								<div class="col">
									<div class="fv-row mb-3">
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Region</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Select your region.">
												<i class="ki-duotone ki-information fs-7"></i>
											</span>
										</label>
										<select id="present_region" name="present_region" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Region" data-allow-clear="true" data-hide-search="true">
											<option></option>
										</select>
									</div>
								</div>

								<div class="col">
									<div class="fv-row mb-3">
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Province</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Select your province.">
												<i class="ki-duotone ki-information fs-7"></i>
											</span>
										</label>
										<select id="present_province" name="present_province" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Province" data-allow-clear="true" data-hide-search="true">
											<option></option>
										</select>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<div class="fv-row mb-3">
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">City</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Select your city.">
												<i class="ki-duotone ki-information fs-7"></i>
											</span>
										</label>
										<select id="present_city" name="present_city" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select City" data-allow-clear="true" data-hide-search="true">
											<option></option>
										</select>
									</div>
								</div>

								<div class="col">
									<div class="fv-row mb-3">
										<label class="fs-6 fw-semibold form-label mt-3">
											<span class="required">Barangay</span>
											<span class="ms-1" data-bs-toggle="tooltip" title="Select your barangay.">
												<i class="ki-duotone ki-information fs-7"></i>
											</span>
										</label>
										<select id="present_barangay" name="present_barangay" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Barangay" data-allow-clear="true" data-hide-search="true">
											<option></option>
										</select>
									</div>
								</div>
							</div>
							<!--end::Input group for Present Address-->
							<!--begin::Toggle Switch for Same as Present Address-->
							<div class="form-check form-switch mb-10">
								<input class="form-check-input" type="checkbox" id="sameAsPresentAddress">
								<label class="form-check-label" for="sameAsPresentAddress">Same as Present Address</label>
							</div>

							<!-- Permanent Address -->
							<div id="permanentAddressSection">
								<h2 class="fs-5 fw-bold mb-3">Permanent Address</h2>
								<!--begin::Input group for Permanent Address-->
								<div class="fv-row mb-3">
									<label class="fs-6 fw-semibold form-label mt-3">
										<span class="required">Street Address</span>
										<span class="ms-1" data-bs-toggle="tooltip" title="Enter your permanent address [House/Block/Lot No./Street Address].">
											<i class="ki-duotone ki-information fs-7"></i>
										</span>
									</label>
									<input type="text" placeholder="Street Address" class="form-control bg-transparent border border-primary border-hover border-active active" name="permanent_streetaddress" id="permanent_streetaddress" autocomplete="off" value="" />
								</div>

								<div class="row">
									<div class="col">
										<div class="fv-row mb-3">
											<label class="fs-6 fw-semibold form-label mt-3">
												<span class="required">Region</span>
												<span class="ms-1" data-bs-toggle="tooltip" title="Select your region.">
													<i class="ki-duotone ki-information fs-7"></i>
												</span>
											</label>
											<select id="permanent_region" name="permanent_region" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Region" data-allow-clear="true" data-hide-search="true">
												<option></option>
											</select>
										</div>
									</div>

									<div class="col">
										<div class="fv-row mb-3">
											<label class="fs-6 fw-semibold form-label mt-3">
												<span class="required">Province</span>
												<span class="ms-1" data-bs-toggle="tooltip" title="Select your province.">
													<i class="ki-duotone ki-information fs-7"></i>
												</span>
											</label>
											<select id="permanent_province" name="permanent_province" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Province" data-allow-clear="true" data-hide-search="true">
												<option></option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<div class="fv-row mb-3">
											<label class="fs-6 fw-semibold form-label mt-3">
												<span class="required">City</span>
												<span class="ms-1" data-bs-toggle="tooltip" title="Select your city.">
													<i class="ki-duotone ki-information fs-7"></i>
												</span>
											</label>
											<select id="permanent_city" name="permanent_city" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select City" data-allow-clear="true" data-hide-search="true">
												<option></option>
											</select>
										</div>
									</div>

									<div class="col">
										<div class="fv-row mb-3">
											<label class="fs-6 fw-semibold form-label mt-3">
												<span class="required">Barangay</span>
												<span class="ms-1" data-bs-toggle="tooltip" title="Select your barangay.">
													<i class="ki-duotone ki-information fs-7"></i>
												</span>
											</label>
											<select id="permanent_barangay" name="permanent_barangay" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select Barangay" data-allow-clear="true" data-hide-search="true">
												<option></option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!--end::Input group for Permanent Address-->
						</div>
					</div>
					<!--end::Step 2-->
					<!--begin::Step 3-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<h3 class="stepper-title mb-10">Upload Documents</h3>
							<div class="form-group mb-5">
								<label for="kt_appletter" class="required">Application Letter - [PDF]</label>
								<input type="file" class="form-control" name="appletter" id="kt_appletter" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_pds" class="required">Personal Data Sheet (PDS) - [XLS]</label>
								<input type="file" class="form-control" name="pds" id="kt_pds" accept=".xlsx, .xls" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_eligibility" class="required">Eligibility - [PDF]</label>
								<input type="file" class="form-control" name="eligibility" id="kt_eligibility" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_training" class="required">Training - [PDF]</label>
								<input type="file" class="form-control" name="training" id="kt_training" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_tor" class="required">Transcript of Record (TOR) - [PDF]</label>
								<input type="file" class="form-control" name="tor" id="kt_tor" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_birthcert" class="required">PSA Birth Certificate - [PDF]</label>
								<input type="file" class="form-control" name="birthcert" id="kt_birthcert" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_marriagecert" class="required">PSA Marriage Certificate - [PDF]</label>
								<input type="file" class="form-control" name="marriagecert" id="kt_marriagecert" accept="application/pdf" required>
							</div>							
							<div class="form-group mb-5">
								<label for="kt_agewaiver" class="required">Age Waiver - [PDF]</label>
								<input type="file" class="form-control" name="agewaiver" id="kt_agewaiver" accept="application/pdf" required>
							</div>							
						</div>
					</div>
					<!--end::Step 3-->
					<!--begin::Step 4-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<h3 class="stepper-title mb-10">Upload Documents</h3>							
							<div class="form-group mb-5">
								<label for="kt_barangayclearance" class="required">Barangay Clearance - [PDF]</label>
								<input type="file" class="form-control" name="barangayclearance" id="kt_barangayclearance" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_mayorclearance" class="required">Mayor's Clearance - [PDF]</label>
								<input type="file" class="form-control" name="mayorclearance" id="kt_mayorclearance" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_mtc" class="required">Municipal Trial Court - [PDF]</label>
								<input type="file" class="form-control" name="mtc" id="kt_mtc" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_rtc" class="required">Regional Trial Court - [PDF]</label>
								<input type="file" class="form-control" name="rtc" id="kt_rtc" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_policeclearance" class="required">Police Clearance - [PDF]</label>
								<input type="file" class="form-control" name="policeclearance" id="kt_policeclearance" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_nbiclearance" class="required">NBI Clearance - [PDF]</label>
								<input type="file" class="form-control" name="nbiclearance" id="kt_nbiclearance" accept="application/pdf" required>
							</div>
							<br /><br /><br />
						</div>
					</div>
					<!--end::Step 4-->
					<!--begin::Step 5-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<h3 class="stepper-title mb-10">Upload Documents</h3>
							<div class="form-group mb-5">
								<label for="kt_ecg" class="required">ECG - [PDF]</label>
								<input type="file" class="form-control" name="ecg" id="kt_ecg" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_pregtest" class="required">Pregnancy Test (for female only) - [PDF]</label>
								<input type="file" class="form-control" name="pregtest" id="kt_pregtest" accept="application/pdf" required>
							</div>
						</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
					</div>					
					<!--end::Step 5-->
					<!--begin::Step 6-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<h3 class="stepper-title mb-10">Upload Documents</h3>
							<div class="form-group mb-5">
								<label for="kt_philhealth" class="required">PhilHealth - [PDF]</label>
								<input type="file" class="form-control" name="philhealth" id="kt_philhealth" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_pagibig" class="required">Pag-Ibig - [PDF]</label>
								<input type="file" class="form-control" name="pagibig" id="kt_pagibig" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_gsis" class="required">GSIS - [PDF]</label>
								<input type="file" class="form-control" name="gsis" id="kt_gsis" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_sss" class="required">SSS - [PDF]</label>
								<input type="file" class="form-control" name="sss" id="kt_sss" accept="application/pdf" required>
							</div>
							<div class="form-group mb-5">
								<label for="kt_tin" class="required">Tax Identification Number (TIN) - [PDF]</label>
								<input type="file" class="form-control" name="tin" id="kt_tin" accept="application/pdf" required>
							</div><br /><br /><br /><br /><br /><br /><br />
						</div>
					</div>
					<!--end::Step 6-->
					<!--begin::Step 8-->
					<div data-kt-stepper-element="content">
						<div class="w-100 text-center">
							<!--begin::Heading-->
							<h1 class="fw-bold text-gray-900 mb-3">Done!</h1>
							<!--end::Heading-->
							<!--begin::Description-->
							<div class="text-muted fw-semibold fs-3">Submit your application.</div>
							<!--end::Description-->
							<!--begin::Illustration-->
							<div class="text-center px-4 py-15">
								<img src="assets/media/illustrations/sigma-1/9.png" alt="" class="mw-100 mh-300px" />
							</div>
							<!--end::Illustration-->
						</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
					</div>
					<!--end::Step 8-->
					<!--begin::Actions-->
					<div class="d-flex flex-stack pt-10">
						<!--begin::Wrapper-->
						<div class="me-2">
							<button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
								<i class="ki-duotone ki-arrow-left fs-3 me-1">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>Back
							</button>
						</div>
						<!--end::Wrapper-->
						<!--begin::Wrapper-->
						<div>
							<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit">
								<span class="indicator-label">
									Submit
									<i class="ki-duotone ki-arrow-right fs-3 ms-2 me-0">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="indicator-progress">
									Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
								</span>
							</button>
							<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">
								Continue
								<i class="ki-duotone ki-arrow-right fs-3 ms-1 me-0">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</button>
						</div>
						<!--end::Wrapper-->
					</div>
					<!--end::Actions-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Stepper-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->
